.tabs {
  margin-top: 45px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #2392db;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  overflow: hidden;
}

.tabs__input {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.tabs__input:checked + .tabs__button {
  color: #fff;
  background: #2392db;
}
.tabs__button {
  display: block;
  padding: 15px 0;
  text-align: center;
  color: #2392db;
  font-weight: 700;
  background: #fff;
  border-bottom: 2px solid #2392db;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.tabs__button:nth-of-type(n + 2) {
  border-left: 2px solid #2392db;
}
.tabs__button:hover {
  opacity: 0.7;
}

.tabs__content {
  grid-column: 1/-1;
  display: none;
}

.tabs__text {
  display: block;
  padding: 30px;
}

#tabs__button--1:checked ~ #tabs__content--1,
#tabs__button--2:checked ~ #tabs__content--2,
#tabs__button--3:checked ~ #tabs__content--3 {
  display: block;
}